version: 2

defaults: &defaults
  working_directory: /tmp/junox
  docker:
    - image: circleci/node:latest

restore_repo: &restore_repo
  restore_cache:
    keys:
      - repo-{{ .Branch }}-{{ .Revision }}
save_repo: &save_repo
  save_cache:
    key: repo-{{ .Branch }}-{{ .Revision }}
    paths:
      - /tmp/junox
jobs:
  checkout:
    <<: *defaults
    steps:
      - *restore_repo
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install node modules
          command: yarn
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
            - ~/.cache/yarn
      - *save_repo
  lint:
    <<: *defaults
    steps:
      - *restore_repo
      - run:
          name: ESLint
          command: yarn --silent lint
  build:
    <<: *defaults
    steps:
      - *restore_repo
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: /tmp
          paths:
            - junox/dist
  deploy:
    <<: *defaults
    steps:
      - *restore_repo
      - attach_workspace:
          at: /tmp
      - add_ssh_keys:
          fingerprints:
            - "e7:41:26:b0:44:d1:59:f0:61:62:92:d8:45:c6:e9:6e"
      - run:
        name: Avoid hosts unknown for github
        command: mkdir ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Deploy to GH pages
          command: yarn deploy
      - store_artifacts:
          path: /tmp/junox/dist
workflows:
  version: 2
  test-build-deploy:
    jobs:
      - checkout
      - lint:
          requires:
            - checkout
      - build:
          requires:
            - checkout
      - deploy:
          requires:
            - lint
            - build

